* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  padding: 1.2%;
}

input {
  font-size: 0.9rem;
  width: 63%;
  color: blue;
  transition-property: all;
  transition-duration: 1.5s;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  align-content: center;
  border: 1px solid gray;
  border-radius: 3px;
  margin-bottom: 6px;
  margin-right: 6px;
  overflow: hidden;
}

.card p {
  font-size:x-small;
  padding: 1.2%;
  text-align: center;
}

.card img {
  align-items: center;
}

.loading {
  font-size: smaller;
  color: red;
}

.saitama-container {
  position: relative;
}

.input-container {
  padding: .5%;
  position: relative;
}

.input-typing {
  font-size: smaller;
  color:#ffe0c1;
}

.input-typing:hover {
  box-shadow: 0 0 6px rgb(248, 73, 42);
  background-color: #ffe0c1;
}

.saitama {
  position: relative;
  margin: 3px;
  padding: 0px;
  left: 0;
  top: 0;
  width: 120px;
  /* box-shadow: 0 0 3px blue; */

  /* transition-property: all;
  transition-duration: 2s;
  transition-timing-function: linear;
  transition-delay: .5s; */

  transition: left 1s linear, top 1s linear 1s;
}

.saitama:hover {
  left: 180px;
  /* top: 21px; */
}